*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-align: center;
}
.borde{
    border:1px solid rgb(33, 117, 7);

}
.contenedor{
    width: 100%;
    max-width: 1200px;
    margin:auto;
}
nav{
    height: 90px;
    display: flex;
    flex-flow: row nowrap;
    background-color: forestgreen;
}
.logo{
    flex: 30%;
}
.menu{
    flex: 50%;
    color: rgb(255, 255, 255);
}
.ingreso{
    flex: 20%;
    color:rgb(255, 255, 255);
}
.mision, .vision, .objetivo{
    background-color: lawngreen;
}
header{
    height: 500px;
    text-align: center;

}
.presentacion{
    height: 400px;
    display: flex;
    flex-flow: row nowrap;
}
.mision{
    flex: 33%;
    text-align: center;
}
.vision{
    flex: 33%;
    text-align: center;
}
.objetivo{
    flex: 33%;
    text-align: center;
}
.actividades{
    height: 400px;
    display: flex;
    flex-flow: row nowrap;
}
.actividad_principal{
    flex: 50%;
}
.actividad_complementaria{
    flex: 50%;
}
.mapas{
    height: 200px;
    text-align: center;
}
.contacto{
    height: 200px;
    display: flex;
    flex-flow: row nowrap;
}
.correo, .telefono, .direccion{
    flex: 1;
}
section{
    height: 100px;
}
footer{
    flex: 1;
    height: 100px;
}